#footer{
    width: 100%;
    z-index: 1;
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.copyright{
    color: white;
    text-align: center;
    font-size: 1.3rem;
    margin: 0;
}

.footer_documents{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_documents a{
    color: white;
    text-decoration: none;
    transition: 0.5s;
    margin: 3px;
}

.footer_documents a:hover{
    color: white;
    text-decoration: underline;
}
.phone_text{
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}
.phone_description{
    color: white;
    text-align: center;
}

.footer_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 900px) {

    #footer{
        padding: 25px 5px;
    }
    .footer_container{
        flex-direction: column;
        align-items: center;
    }
    .footer_documents{
        margin: 25px;
        align-items: center;
    }
    .social_block{
        margin: 25px;
    }
    .copyright{
        font-size: 1rem;
    }
}