body{
    font-family: Roboto, Helvetica, Verdana, sans-serif;
}
.white_header{
    color:white;
    font-size: 3rem;
    font-weight: 700;
    padding: 50px 10px;
    text-align: center;
    margin: 0;
}

.black_header{
    color:#1b1b1c;
    font-size: 3rem;
    font-weight: 700;
    padding: 50px 10px;
    text-align: center;
    margin: 0;
}

.black_color{
    background: #202021;
}

.white_color{
    background: white;
}

.smoke_color{
    background: #f5f5f5;
}
@media (max-width: 640px) {
    .white_header{
        font-size: 2.1rem;
        padding: 20px 10px;
    }

    .black_header{
        font-size: 2.1rem;
        padding: 20px 10px;
    }
}
@media (orientation: landscape) and (max-width: 640px) {
    .white_header{
        font-size: 2rem;
        padding: 20px 10px;
    }

    .black_header{
        font-size: 2rem;
        padding: 20px 10px;
    }
}
@media (max-width: 360px){
    .white_header{
        font-size: 2rem;
        padding: 20px 10px;

    }

    .black_header{
        font-size: 2rem;
        padding: 20px 10px;
    }
}
.grecaptcha-badge{
    display: none;
}