#start_block{
    width: 100%;
    /*min-height: 100vh;*/
    background: url("../images/start_image.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.gradient{
    width: inherit;
    min-height: 100vh;
    background-attachment: fixed;
    background: linear-gradient(to bottom, #000 0%, rgba(0,0,0,0.53) 23%, transparent 105%);
    padding: 130px  35px 30px 35px;
}

#start_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;

}

.start_name{
    width: 100%;
    text-align: center;
    white-space: nowrap;
    font-size:5vh;
    color: #e9c624;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
}

.start_description{
    width: 100%;
    text-align: center;
    font-size: 5vh;
    color:white;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
}

.start_image{
    width: 15vh;
}

.start_date{
    font-size: 4vh;
    font-weight: 700;
    color: black;
}

.start_button{
    background: black;
    border-radius: 30px;
    padding: 15px 40px;
    color: white;
    font-weight: 700;
    border: none;
    margin: 20px;
    transition: 0.5s;
    font-size: 3vh;
    text-decoration: none;
}

.start_button:hover{
    background: #616161;
    transform: scale(1.05);
    color: white;
    text-decoration: none;
}


@media (max-width: 639px){
    #start_content{
        width: auto;
    }
}

@media (max-width: 1024px) and (min-height:640px){
    #start_content{
        width: auto;
    }
    #start_block{
        background-position: left;
    }
}

@media (min-width: 640px){
    #start_content{
        margin: 0 0 0 5%;
    }
}