#will_suit_block{
    width: 100%;
    padding: 10px;
}

#will_suit_container{
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.will_suit_element{
    max-width: 550px;
    display: flex;
    flex-direction: row;
    margin:15px 0;
    font-weight: bold;
    min-height:20%;
}
.will_suit_elements{
    display: flex;
    flex-direction: column;
    margin:15px 0;
}



.will_suit_img img{
    width: 60px;
}



.will_suit_text{
    padding:0 15px;
    font-size: 1.2rem;
}

.indicators{
    display: flex;
    justify-content: space-around;
    margin: 45px auto;
    padding: 15px;
    background: #202021;
    width: 90%;
   box-shadow:0 0 3px white ;
    border-radius: 10px;
    flex-wrap: wrap;
}
.indicator_element{
    text-align: center;
    padding: 10px;
    width: 25%;
}

.indicator_number{
    font-size: 2.6rem;
    font-weight: bold;
    color: #ffffff;
}

.indicator_description{
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}
@media (max-width: 920px) {
    .indicator_element{
        width: 50%;
    }
    .indicators{
        width: 95%;
    }
}
@media (max-width: 480px) {
    .indicator_element{
        width: 100%;
    }
    .will_suit_img img{
        width: 40px;
    }
}